<h2>Случайная книга дня</h2>
<% if (book) { %>
    <h3><%= book.title %></h3>
    <p>Автор: <%= book.author || "Неизвестен" %></p>
    <% if (book.cover) { %>
        <img src="<%= book.cover %>" alt="Обложка книги">
    <% } %>
<% } else { %>
    <p>Не удалось загрузить случайную книгу.</p>
<% } %>
